<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="/assets/css/index.css" type="text/css" rel="stylesheet"/>
</head>
<body style="background: #000; color: #fff;>
<h2>MAHRIO</h2>
<script src="/assets/js/index.js"></script>
</body>
</html>
