<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="/assets/css/index.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h1>Hello World</h1>
<script src="/assets/js/index.js"></script>
</body>
</html>