<style>
  .led {
    border: none;
    text-shadow: 2px 2px 3px #c0c0c0;
    color: #252525;
    font-size: 36px;
    font-weight: bold;
  }
</style>

<ion-view view-title="NeoPixel Remote">
  <ion-content>
    <button class="button button-block led" ng-model="mode"
      ng-click="changeMode()">
      Mode:
      <ng-switch on="mode">
        <span ng-switch-when="0">Solid</span>
        <span ng-switch-when="1">Sparkle</span>
      </ng-switch>
    </button>

    <button class="button button-block led" color-picker ng-model="color" modal-title="Choose a color" color-box="{{color}}">
      Color {{ color || 'Choose a color' }}
    </button>

    <button class="button button-block button-inverted" ng-click="broadcastResetColor()"
            style="background: #000000;color: #e3e3e3;font-size: 30px;padding: 20px 0;">
      OFF
    </button>
  </ion-content>
</ion-view>
