<ion-view view-title="Remote">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button class="button button-calm button-block">
          <i class="ion ion-chevron-up"></i>
        </button>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button class="button button-calm button-block">
          <i class="ion ion-chevron-left"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-positive button-block">
          ENTER
        </button>
      </div>
      <div class="col">
        <button class="button button-calm button-block">
          <i class="ion ion-chevron-right"></i>
        </button>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button class="button button-calm button-block">
          <i class="ion ion-chevron-down"></i>
        </button>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <hr/>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button class="button button-assertive button-block">
          <i class="ion ion-stop"></i>
        </button>
      </div>
      <div class="col"></div>
      <div class="col">
        <button class="button button-balanced button-block">
          <i class="ion ion-play"></i>
        </button>
      </div>
      <div class="col"></div>
    </div>

  </ion-content>
</ion-view>
